.horizontalTabs * {
  box-sizing: border-box;
}
.horizontalTabs .tab {
  background-color: #aaa;
  float: left;
  width: 50%;
  height: 300px;
  font-size: 25px;
  border-right: 10px solid white;
  margin-bottom: 10px;
}
.horizontalTabs .tabs {
  display: flex;
  overflow: scroll;
}
.horizontalTabs .tabs ::after {
  content: "";
  display: table;
  clear: both;
}
