.horizontalTabs_1 * {
  box-sizing: border-box;
}
.horizontalTabs_1 .tab {
  background-color: #aaa;
  float: left;
  width: 33.3%;
  height: 300px;
  font-size: 25px;
  border-right: 10px solid white;
  margin-bottom: 10px;
}
.horizontalTabs_1 .tabs ::after {
  content: "";
  display: table;
  clear: both;
}
